<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.framepj.model.mapper.TblCartMapper">

	<select id="findByUserId" resultType="jp.co.internous.framepj.model.domain.dto.CartDto">
		
	</select>
	
	<delete id="deleteById">
		
	</delete>
	
</mapper>